<!DOCTYPE html>
<html>
<head>
    <title>Currency Converter</title>
</head>
<body>
<h1>Currency Converter</h1>
<form action="/convert" method="GET">
    <label for="dollar">Amount of Dollar</label>
    <input type="number" step="any" name="dollar_amount" id="dollar"/>
    <br>
    <label for="to_currency">Convert to</label>
    <select name="to_currency" id="to_currency">
        <option value="EUR">Euros</option>
        <option value="JPY">japanese</option>
    </select>
    <br>
    <button type="submit">Convert</button>
</form>
</body>
</html>