<form id="navigation" action="fetch_picture">
    <input id="today_picture" name="today" class="btn btn-info" type="submit" value="today's picutre">
    <input id="random_pictur" name="random" class="btn btn-info" type="submit" value="random picture">
</form>